RewriteEngine on
RewriteCond $1 !^(index.php|assets|images|js|css|upoads|favicon.png)
RewriteCond %(REQUEST_FILENAME) !-f
RewriteCond %(REWQUEST_FILENAME) !-d
RewriteRule ^(.*)$ ./index.php/$1 [L]
